@{
    ViewBag.Title = "About";
}


<link href="~/Content/ProjectCSS.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
